<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sheharyararif.foodlings">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="com.coderefer.androidsplashscreenexample.MAINACTIVITY" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".LoginScreen"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".RegistrationScreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RestaurantRegistrationScreen"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".SubscriberRegistrationScreen"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".PictureUploadScreen"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DashboardScreen"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".PortalScreen"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".VisitorDashboard"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SettingsScreen"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"/>
        <activity android:name=".AdvanceSearchScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".CategoryScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".CommunityScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".SubscriberProfileScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".RestaurantProfile"
            android:screenOrientation="portrait"/>
        <activity android:name=".NewsFeed"
            android:screenOrientation="portrait"/>
        <activity android:name=".WriteTextPost"
            android:screenOrientation="portrait"/>
        <activity android:name=".CommentsScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".SearchScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReviewsScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".MenuScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".AddReviewScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".ReviewDetailScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".GalleryScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".FriendsScreen"
            android:screenOrientation="portrait"/>
        <activity android:name=".CategoryResults"
            android:screenOrientation="portrait"/>
        <activity android:name=".TopRestaurantsScreen" />
        <activity android:name=".NearByRestaurantsScreen"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>